<h1>Cologne Digital Sanskrit Dictionaries</h1>

<p>FIXME: some words about the Cologne Digital Sankrit Dictionaries.</p>

<section>
	<h2>Search</h2>

	<% @query = {} %>
	<%= render 'search/search_form'  %>
</section>

<section>
	<h2>The dictionaries</h2>
	<p>FIXME: some words about the dictionaries.</p>
</section>

<section>
	<h2>The people</h2>
	<p>FIXME: some words about the people.</p>
</section>

<%-# Licensed under the ISC licence, see LICENCE.ISC for details -%>
