%h1 Dictionaries of the Cologne Digital Sanskrit Lexicon

- @dictionaries.each_pair do |handle, header|
  = render 'entry', :dict_handle => handle, :header => header

-# Licensed under the ISC licence, see LICENCE.ISC for details
