dl {
	margin-left: 2em;
}

dt, dl > div {
	display: inline-block;
}

.native-script {
	font-weight: bold;
}

.method {
	text-transform: uppercase;
}

.transliterations {
	font-size: small;
}

sup {
	font-weight: normal;
	font-size: normal;

	margin-left: 0.3em;
}

dd {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	span.tei-w {
		color: magenta;

		a {
			color: inherit;
		}
	}

	&:before {
		content: '» ';
	}
}

.native-script, .transliterations {
	& a {
		text-decoration: none;
	}

	& a:hover {
		text-decoration: underline;

		sup {
			text-decoration: none;
		}
	}
}

a.lemma {
	text-decoration: none;

	&:hover {
		*:not(.transliterations) {
			text-decoration: underline;
		}

		sup {
			text-decoration: none !important;
		}
	}
}
