/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bourbon';

html {
	margin-left: 2.5em;
	margin-right: 2.5em;
}

body {
	margin-left: auto;
	margin-right: auto;
	max-width: 80em;
}

aside.messages,
h1,
form {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

section.results.inside-definition {
	@include column-width(25em);
}

/* Licensed under the ISC licence, see LICENCE.ISC for details */
