// Place all the styles related to the dict controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

details, summary {
	display: block; // FIXME: use a reset style
}

details p {
	margin-left: 2em;
}

dl {
	margin-left: 2em;
}

dt, div.transliterations {
	display: inline-block;
}

div.transliterations {
	font-size: 80%;
}

dt {
	&.lemma {
		font-weight: bold;
	}

	.method {
		text-transform: uppercase;
	}

	&.transliteration a {
		text-decoration: none;
		color: black;

		&:hover {
			color: blue;
			text-decoration: underline;
		}
	}
}

dd {
	line-height: 2;
}

details.raw-tei {
	margin-left: 4em;

	pre {
		font-size: 90%;
	}
}

ul.adjacent {
	text-align: center;

	li {
		display: inline;
	}

	li.term {
		border: solid thin black;
		padding: 0.4em;

		margin-left: 1em;
		margin-right: 1em;
	}
}
