// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	font-size: smaller;
	max-width: 40rem;

	& > * {
		margin: 0.4rem;
	}

	input[type='text'] {
		width: 90%;
	}

	input {
		vertical-align: -10%;
	}

	input[type='radio'] {
		&:not(:first-child) + label {
			font-size: smaller;
		}

		&:nth-of-type(2) {
			margin-left: 3rem;
		}

		&:first-child {
			margin-top: 0.6rem;
		}

		&:first-child + label:after {
			content: "\A";
			white-space: pre;
		}
	}

	input[disabled] + label {
		color: gray;
	}
}

details, summary {
	display: block; // FIXME: use a reset style
}

details p {
	margin-left: 2em;
}

details.raw-tei {
	margin-left: 4em;

	pre {
		font-size: 90%;
	}
}

ul.adjacent {
	text-align: center;

	li {
		display: inline;
	}

	li.term {
		border: solid thin black;
		padding: 0.4em;

		margin-left: 1em;
		margin-right: 1em;
	}
}

.similar ul {
	text-align: center;

	li {
		display: inline;

	}
}
